<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <connectionStrings>
        <remove name="LocalSqlServer" />
    </connectionStrings>
    <system.web>
        <compilation defaultLanguage="c#" />
        <authentication mode="None" />
        <customErrors mode="Off" />
    </system.web>
</configuration>